
    <form [formGroup]="transfere" (ngSubmit)="logForm()">
          <h3 style="text-align: center;">envoie</h3>
      <ion-item>
        <ion-label>Nomexp</ion-label>
        <ion-input type="text" formControlName="nomexp"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>prenomexp</ion-label>
        <ion-input type="text" formControlName="prenomexp"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>telephoneexp</ion-label>
        <ion-input type="number" formControlName="telephoneexp"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>nomrecep</ion-label>
        <ion-input type="text" formControlName="nomrecep"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>prenomrecep</ion-label>
        <ion-input type="text" formControlName="prenomrecep"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>telephonerecep</ion-label>
        <ion-input type="number" formControlName="telephonerecep"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Codeenvoie</ion-label>
        <ion-input type="number" formControlName="codeenvoie"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Montanttotal</ion-label>
        <ion-input type="number" formControlName="montanttotal"></ion-input>
      </ion-item>
      <button ion-button type="submit" style="text-align: center;" [disabled]="!transfere.valid">Submit</button>
    </form>`
